html {
  font-family: "Helvetica";
  background: #fff;
}
input[type="text"],
select {
  height: 30px;
  margin: 2px 6px 16px 0;
  color: #808080;
  line-height: 15px;
  border: 1px solid #b0c4de;
}
input[type="submit"] {
  padding: 5px 10px 5px 10px;
  background: #b0c4de;
  border: none;
  box-shadow: 1px 1px 1px #4c6e91;
}
input[type="submit"]:hover {
  background: #4682b4;
}
.hl {
  max-width: 900px;
  margin: 0 auto;
  background: #ccc;
}
.hl-Header {
  background: #b0c4de;
}
.hl-Header_Wrapper {
  padding-left: 1rem;
}
.hl-Main {
  padding-left: 1rem;
}
.hl-Article_Wrapper {
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #ccc;
}
